.add{
  background: white;
    border-style: solid;
    margin: 20px 50px 0px 50px;
    border-radius: 30px;
    border-block-end-color: green;
    border-top-color: orange;
    border-left-color: red;
    border-right-color: blue;
    font-family: cursive;
}
img{
  width: 200px;
}
